@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model PiCoreSQLite.Models.FullSet

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks.FirstOrDefault().Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tasks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
